@charset "UTF-8";
$C1:rgb(0, 119, 255);
$C2: rgba(0, 0, 0, 0.251);
$C3:rgba(255, 255, 255, 0);
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
body {
    margin: 0;
    width: 100%;
}

h1 {
    letter-spacing: 2px;
    margin-top: 0;
    text-align: center;
    font-size: 6.2vw;
    color: $C1;
    text-align: center;
    border: $C1 5px solid;
    background: -webkit-linear-gradient($C1, $C3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5), 1px 1px 0 $C2, 1px -1px 0 $C2, -1px 1px 0 $C2, -1px -1px 0 $C2, 1px 0px 0 $C2, 0px 1px 0 $C2, -1px 0px 0 $C2, 0px -1px 0 $C2;
}

ol {
    list-style: none;
}

.rien {
    display: none;
}

//Les shakings
$shake: 12;
@mixin shake-x {
    @for $i from 1 through $shake {
        @keyframes shake-#{$i} {
            0% {
                transform: translateX(5px) rotateY(0deg)
            }
            50% {
                transform: translateX(5px) rotateY(45deg)
            }
            100% {
                transform: translateX(5px) rotateY(0deg)
            }
        }
        .sh-#{$i} {
            animation:#{$i/10}s shake-#{$i} infinite;
            margin: 0;
            position: absolute;
        }
    }
}

@include shake-x;
//Les rotations
$turn: 12;
@mixin turning-x {
    @for $ii from 1 through $turn {
        .turn-#{$ii} {
            transform: rotateZ(#{$ii*30}deg);
            transform-origin: center center;
        }
    }
}

@include turning-x;
.fenetre_texte {
    transform: perspective(1400px) scale(1.1) skew(3deg, 8deg);
    transform-origin: center center;
    box-shadow: -2px 2px 5px $C2;
    border: 1px solid $C2;
    border-bottom: 2px solid $C2;
    display: table-cell;
    background-color: $C3;
    width: 250px;
    height: 100%;
    text-align: center;
    margin: auto;
}

.bannar {
    display: flex;
    box-sizing: content-box;
    cursor: pointer;
    padding: 20px;
    border: 0.05em solid;
    border-radius: 18% 18% 95% 95% / 90% 90% 75% 75%;
    font-size: 5vh;
    text-overflow: clip;
    background: linear-gradient(180deg, rgba(0, 187, 255, 0.56) 0, rgba(255, 255, 255, 0.59) 8%, rgba(0, 187, 255, 0.52) 20%, rgba(0, 187, 255, 0.41) 100%), linear-gradient(180deg, rgba(0, 187, 255, 1) 0, rgba(0, 187, 255, 1) 81%, $C3 90%, rgba(0, 187, 255, 1) 100%);
    background-position: 50% 50%, 53% 51%;
    background-origin: border-box, padding-box;
    background-clip: border-box, border-box;
    background-size: auto auto, auto auto;
    span,
    a,
    div {
        text-align: center;
        margin: auto;
        height: 5%;
        color: white;
        text-shadow: 2px 2px 0 $C2, 2px -2px 0 $C2, -2px 2px 0 $C2, -2px -2px 0 $C2, 2px 0px 0 $C2, 0px 2px 0 $C2, -2px 0px 0 $C2, 0px -2px 0 $C2;
    }
}

@keyframes rainbow {
    0% {
        filter: hue-rotate(0deg);
        color: rgb(255, 0, 0);
    }
    100% {
        filter: hue-rotate(360deg);
        color: rgb(0, 247, 255);
    }
}

.rainbow {
    animation: 2s rainbow infinite alternate-reverse;
}

.texte-feu {
    box-sizing: content-box;
    border: none;
    font: italic normal bold 20px/1 Arial Black, Gadget, sans-serif;
    text-overflow: clip;
    letter-spacing: 2px;
    background: url("https://upload.wikimedia.org/wikipedia/commons/2/22/Animated_fire_by_nevit.gif");
    background-clip: text;
    animation: fire 1s infinite alternate-reverse;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes fire {
    from {
        text-shadow: 0 -1px 15px rgba(255, 0, 0, 1), 0 -2px 15px rgb(255, 94, 0), 0 -4px 11px rgb(255, 255, 0);
    }
    to {
        text-shadow: 0 -1px 10px rgba(186, 26, 26, 0.66), 0 -2px 5px rgba(255, 153, 0, 1), 0 -4px 1px rgba(255, 255, 0, 0.84);
    }
}

.separe {
    display: inline-block;
    background-color: rgba(0, 238, 255, 0.034);
    &::after {
        content: "|";
    }
    &::before {
        content: "|";
    }
}

.spoiler {
    background: rgb(207, 207, 207);
    color: rgb(207, 207, 207);
    transition: all 1s;
    &:hover {
        color: black;
        background: rgba(0, 0, 0, 0);
    }
}

.loading {
    margin-left: auto;
    margin-right: auto;
    animation: x 0.5s infinite;
}

@keyframes x {
    0%,
    33% {
        box-shadow: 45px 10px 0 0 #2196f3, 40px 15px 0 0 #2196f3, 45px 15px 0 0 #2196f3, 50px 15px 0 0 #2196f3, 35px 20px 0 0 #2196f3, 40px 20px 0 0 #2196f3, 45px 20px 0 0 #ffffff, 50px 20px 0 0 #2196f3, 55px 20px 0 0 #2196f3, 40px 25px 0 0 #2196f3, 45px 25px 0 0 #2196f3, 50px 25px 0 0 #2196f3, 45px 30px 0 0 #2196f3, 75px 55px 0 0 #2196f3, 70px 60px 0 0 #ffffff, 75px 60px 0 0 #ffffff, 80px 60px 0 0 #ffffff, 65px 65px 0 0 #2196f3, 70px 65px 0 0 #ffffff, 75px 65px 0 0 #2196f3, 80px 65px 0 0 #ffffff, 85px 65px 0 0 #2196f3, 15px 70px 0 0 #ffffff, 25px 70px 0 0 #2196f3, 35px 70px 0 0 #ffffff, 70px 70px 0 0 #ffffff, 75px 70px 0 0 #ffffff, 80px 70px 0 0 #ffffff, 20px 75px 0 0 #2196f3, 25px 75px 0 0 #2196f3, 30px 75px 0 0 #2196f3, 75px 75px 0 0 #2196f3, 15px 80px 0 0 #2196f3, 20px 80px 0 0 #2196f3, 25px 80px 0 0 #2196f3, 30px 80px 0 0 #2196f3, 35px 80px 0 0 #2196f3, 20px 85px 0 0 #2196f3, 25px 85px 0 0 #2196f3, 30px 85px 0 0 #2196f3, 15px 90px 0 0 #ffffff, 25px 90px 0 0 #2196f3, 35px 90px 0 0 #ffffff;
        height: 5px;
        width: 5px;
    }
    33%,
    66% {
        box-shadow: 85px 5px 0 0 #ffffff, 80px 10px 0 0 #ffffff, 85px 10px 0 0 #2196f3, 90px 10px 0 0 #ffffff, 75px 15px 0 0 #ffffff, 80px 15px 0 0 #2196f3, 85px 15px 0 0 #2196f3, 90px 15px 0 0 #2196f3, 95px 15px 0 0 #ffffff, 70px 20px 0 0 #ffffff, 75px 20px 0 0 #2196f3, 80px 20px 0 0 #2196f3, 85px 20px 0 0 #2196f3, 90px 20px 0 0 #2196f3, 95px 20px 0 0 #2196f3, 100px 20px 0 0 #ffffff, 75px 25px 0 0 #ffffff, 80px 25px 0 0 #2196f3, 85px 25px 0 0 #2196f3, 90px 25px 0 0 #2196f3, 95px 25px 0 0 #ffffff, 80px 30px 0 0 #ffffff, 85px 30px 0 0 #2196f3, 90px 30px 0 0 #ffffff, 85px 35px 0 0 #ffffff, 50px 45px 0 0 #2196f3, 45px 50px 0 0 #2196f3, 50px 50px 0 0 #ffffff, 55px 50px 0 0 #2196f3, 40px 55px 0 0 #2196f3, 45px 55px 0 0 #ffffff, 50px 55px 0 0 #ffffff, 55px 55px 0 0 #ffffff, 60px 55px 0 0 #2196f3, 45px 60px 0 0 #2196f3, 50px 60px 0 0 #ffffff, 55px 60px 0 0 #2196f3, 50px 65px 0 0 #2196f3, 85px 70px 0 0 #ffffff, 80px 75px 0 0 #ffffff, 85px 75px 0 0 #2196f3, 90px 75px 0 0 #ffffff, 75px 80px 0 0 #ffffff, 80px 80px 0 0 #2196f3, 85px 80px 0 0 #2196f3, 90px 80px 0 0 #2196f3, 95px 80px 0 0 #ffffff, 70px 85px 0 0 #ffffff, 75px 85px 0 0 #2196f3, 80px 85px 0 0 #2196f3, 85px 85px 0 0 #2196f3, 90px 85px 0 0 #2196f3, 95px 85px 0 0 #2196f3, 100px 85px 0 0 #ffffff, 75px 90px 0 0 #ffffff, 80px 90px 0 0 #2196f3, 85px 90px 0 0 #2196f3, 90px 90px 0 0 #2196f3, 95px 90px 0 0 #ffffff, 80px 95px 0 0 #ffffff, 85px 95px 0 0 #2196f3, 90px 95px 0 0 #ffffff, 85px 100px 0 0 #ffffff;
        height: 5px;
        width: 5px;
    }
    66%,
    100% {
        box-shadow: 30px 15px 0 0 #2196f3, 25px 20px 0 0 #2196f3, 30px 20px 0 0 #ffffff, 35px 20px 0 0 #2196f3, 20px 25px 0 0 #2196f3, 25px 25px 0 0 #ffffff, 30px 25px 0 0 #ffffff, 35px 25px 0 0 #ffffff, 40px 25px 0 0 #2196f3, 25px 30px 0 0 #2196f3, 30px 30px 0 0 #ffffff, 35px 30px 0 0 #2196f3, 30px 35px 0 0 #2196f3, 55px 45px 0 0 #ffffff, 50px 50px 0 0 #ffffff, 55px 50px 0 0 #2196f3, 60px 50px 0 0 #ffffff, 45px 55px 0 0 #ffffff, 50px 55px 0 0 #2196f3, 55px 55px 0 0 #2196f3, 60px 55px 0 0 #2196f3, 65px 55px 0 0 #ffffff, 40px 60px 0 0 #ffffff, 45px 60px 0 0 #2196f3, 50px 60px 0 0 #2196f3, 55px 60px 0 0 #2196f3, 60px 60px 0 0 #2196f3, 65px 60px 0 0 #2196f3, 70px 60px 0 0 #ffffff, 45px 65px 0 0 #ffffff, 50px 65px 0 0 #2196f3, 55px 65px 0 0 #2196f3, 60px 65px 0 0 #2196f3, 65px 65px 0 0 #ffffff, 50px 70px 0 0 #ffffff, 55px 70px 0 0 #2196f3, 60px 70px 0 0 #ffffff, 55px 75px 0 0 #ffffff, 25px 80px 0 0 #2196f3, 20px 85px 0 0 #2196f3, 25px 85px 0 0 #ffffff, 30px 85px 0 0 #2196f3, 15px 90px 0 0 #2196f3, 20px 90px 0 0 #ffffff, 25px 90px 0 0 #ffffff, 30px 90px 0 0 #ffffff, 35px 90px 0 0 #2196f3, 20px 95px 0 0 #2196f3, 25px 95px 0 0 #ffffff, 30px 95px 0 0 #2196f3, 25px 100px 0 0 #2196f3;
        height: 5px;
        width: 5px;
    }
}

.spinner {
    border: 16px solid #ffffff00;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s infinite linear, spin_stroke 2s linear infinite alternate-reverse;
    margin: auto;
    transform-origin: 50% 50%;
}

@keyframes spin {
    0% {
        transform: translate(0px, -10px)rotate(0deg);
    }
    50% {
        transform: translate(0px, -60px)rotate(180deg);
    }
    100% {
        transform: translate(0px, -10px)rotate(360deg);
    }
}

@keyframes spin_stroke {
    0% {
        box-shadow: 1px 0px 0 #b4e1ff, -1px 0px 0 #3498db;
    }
    100% {
        box-shadow: -5px 0px 0 #3498db, 5px 0px 0 #b4e1ff;
    }
}

.button {
    box-shadow: inset 0px -3px 5px 0px #29bbff;
    background-color: #2dabf9;
    border-radius: 42px;
    border: 2px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Trebuchet MS;
    font-size: 19px;
    padding: 9px 23px;
    text-decoration: none;
    text-shadow: 0px 1px 1px #263666;
    &:hover {
        background-color: #00c6e0;
    }
    &:active {
        position: relative;
        top: 1px;
    }
}

.titre {
    text-decoration: none;
    font-family: verdana;
    font-size: 2.7em;
    color: #0070c0;
    text-shadow: 1px 1px 1px #000000;
}

.tremblote {
    position: relative;
    padding: 10px;
    span,
    a,
    div {
        position: absolute;
        animation: tremble 1s infinite;
    }
}

@keyframes tremble {
    0% {
        left: 5px;
        top: -5px;
    }
    10% {
        left: 0px;
        top: 0px;
    }
    25% {
        left: -5px;
        top: 5px;
    }
    50% {
        left: 0px;
        top: 0px;
    }
    50% {
        left: 5px;
        top: -5px;
    }
    90% {
        left: 0px;
        top: 0px;
    }
    100% {
        left: -5px;
        top: 5px;
    }
}

.deux_cols {
    text-align: justify;
    column-count: 2;
    column-gap: 90px;
}

.cadre_rond {
    display: flex;
    border-radius: 50%;
    border: 2px $C1 solid;
    width: 50px;
    height: 50px;
    background-position: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    span,
    a,
    div {
        margin: auto;
    }
}

b strong {
    font-family: 'Anton', sans-serif;
}

i em {
    font-family: 'Open Sans Condensed', sans-serif;
}

.etire_texte {
    letter-spacing: 0px;
    transition: 2s letter-spacing;
    &:hover {
        letter-spacing: 20px;
    }
}

$gridline: 12;
@mixin gridline-x {
    @for $ii from 1 through $gridline {
        .gridline-#{$ii} {
            text-align: center;
            margin: 5px;
            display: grid;
            grid-template-columns: repeat(#{$ii},
            1fr);
            grid-gap: 10px;
            grid-auto-rows: minmax(auto, auto);
            max-height: 500px;
            div {
                grid-row: 1;
                grid-gap: #{$ii/10}em;
            }
        }
    }
}

@include gridline-x;
.centrer {
    justify-content: center;
    justify-self: center;
    align-self: center;
    text-align: center;
    margin: auto;
}

.entourer {
    text-shadow: $C2 1px 1px, $C2 -1px 1px, $C2 -1px -1px, $C2 1px -1px;
}

.encadrer {
    background-color: white;
    z-index: 2;
    font-size: 1.2rem;
    width: 245px;
    border-bottom: solid 1px black;
    border-right: solid 2px black;
    box-shadow: 0 1px 5px black;
}

$scrollvar: 12;
@mixin scrollvar-y {
    @for $ii from 0 through $scrollvar {
        .scrollbox-#{$ii} {
            scroll-snap-type: y mandatory;
            width: 85%;
            margin: auto auto;
            height: #{$ii*5}vh;
            padding: 10px;
            overflow-y: scroll;
            margin-bottom: 25px;
            background-color: rgba(0, 0, 0, 0.048);
            &::-webkit-scrollbar {
                width: 45px;
            }
            &::-webkit-scrollbar-track {
                border: 1px solid $C3;
                box-shadow: inset 0 0 5px $C1;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-track-piece {
                background-color: $C2;
                border-radius: 10px;
                border: 1px solid $C3;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $C3;
                border-radius: 10px;
                box-shadow: inset -2px 0px 10px $C1, inset 0 2px 5px $C1;
                &:hover {
                    background-color: $C3;
                    box-shadow: inset -2px 0px 10px $C1, inset 0 1px 4px $C1;
                }
            }
        }
    }
}

@include scrollvar-y;
.present {
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-right: 1vw;
    padding-left: 5px;
    display: inline-flex;
    border-left: 10px ridge $C1;
    border-radius: 40px 18px 0px 40px;
    background: rgb(226, 226, 226);
}

.text-profond {
    color: transparent;
    background: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    font-size: 5vh;
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5), 1px 1px 0 $C2, 1px -1px 0 $C2, -1px 1px 0 $C2, -1px -1px 0 $C2, 1px 0px 0 $C2, 0px 1px 0 $C2, -1px 0px 0 $C2, 0px -1px 0 $C2;
}

.boite {
    height: 25vh;
    width: 25vw;
    margin: auto;
    padding: 20vh;
    text-align: left;
}